# FIRE CALCULATED

In [156]:
import pandas as pd
import numpy as np

In [13]:
name = input('Insert you name')    #USE NAME

 David

In [15]:
Last_name = input('Insert your last  name') #USE LAST_NAME

Insert your last  name Santamaria

In [17]:
newornot = input('Do you want a new evalution (Y)? or  verify any other (V)').upper() # IS A NEW CALCULATION OR NOT?

Do you want a new evalution (Y)? or  verify any other (V) Y

In [129]:
if newornot == 'Y' :
 print('Please introduce the fowwoling data: how much you make at year after taxes and how much you want to spend once   retired, age, expenses, estimated_inflation, investments, estimated_return')
 make_year= int(input('how much you make at year after taxes'))
 spend_retired = int(input('how much you want to spend in your retirement')) 
 age = int(input('age'))
 expenses = int(input('calculated yearly expenses'))
 estimated_inflation = int(input('estimated inflation (3% american average)'))
 investments = int(input('Total investment and bonds')) 
 estimated_return = int(input('Total returns from investment and bonds'))
 stimation_grow =int(input('Total anual Grows of your income (normaly 3%)'))
 withdrawal_rate = int(input('withdrawal rate for your retirement (4% recomended)'))

Please introduce the fowwoling data: how much you make at year after taxes and how much you want to spend once   retired, age, expenses, estimated_inflation, investments, estimated_return

how much you make at year after taxes 65
how much you want to spend in your retirement 20
age 30
calculated yearly expenses 40
estimated inflation (3% american average) 3
Total investment and bonds 150
Total returns from investment and bonds 2
Total anual Grows of your income (normaly 3%) 3
withdrawal rate for your retirement (4% recomended) 5

In [130]:
FIRE_NUMBER = (spend_retired)*100/withdrawal_rate
FIRE_NUMBER

400.0

In [206]:
A= 0
t= 0
P= investments
G = make_year - expenses
N1 = estimated_return/100        #DIV BY 100 CAUSE IS %
N2 = estimated_inflation/100     #DIV BY 100 CAUSE IS %
N3 = stimation_grow/100          #DIV BY 100 CAUSE IS %
moneypyear = np.array([])        #Annual Savings

In [207]:
while A < FIRE_NUMBER:       # CALCULING ANUAL SAVINGS 
    if t == 0:
        A =  (P*pow(1,t)+G*(1+N2)*t)
        t=t+1
    else:
        A = (P*pow(1+N1,t)+G*t*pow(1+N3,t)) * pow(1-N2,t)
        t=t+1
    moneypyear = np.append(moneypyear, A)

In [208]:
moneypyear

array([150.        , 173.3875    , 196.7468945 , 220.07806554,
       243.38089699, 266.65527451, 289.90108555, 313.11821931,
       336.30656675, 359.46602054, 382.59647504, 405.69782633])

In [231]:
age_t=age+t 
TOTAL_DATA = pd.DataFrame()

In [242]:
obj = {'NAME': [name], 'L. NAME': [Last_name], 'MAKE A. T': [make_year], 'EXPENSES ': [expenses],  'EXPEN RETI': [spend_retired],'FIRE_N':[FIRE_NUMBER],'AGE': [age] ,'AGE RETI':[age_t],'INFLATION': [estimated_inflation ], 'INITIAL INVEST.': [investments],'RETURN F. INVEST.': [estimated_return], 'ESTI. GROW': [stimation_grow ] }

In [282]:
new_df = pd.DataFrame(data=obj) # Delivery of the calculations in rows that can be called by SQL
new_df

,NAME,L. NAME,MAKE A. T,EXPENSES,EXPEN RETI,FIRE_N,AGE,AGE RETI,INFLATION,INITIAL INVEST.,RETURN F. INVEST.,ESTI. GROW
0,David,Santamaria,65,40,20,400.0,30,42,3,150,2,3

In [283]:
TOTAL_DATA = TOTAL_DATA.append(new_df, ignore_index=True)
TOTAL_DATA

,NAME,L. NAME,MAKE A. T,EXPENSES,EXPEN RETI,FIRE_N,AGE,AGE RETI,INFLATION,INITIAL INVEST.,RETURN F. INVEST.,ESTI. GROW
0,David,Santamaria,65,40,20,400.0,30,42,3,150,2,3
1,David,Santamaria,65,40,20,400.0,30,42,3,150,2,3
2,David,Santamaria,65,40,20,400.0,30,42,3,150,2,3
3,David,Santamaria,65,40,20,400.0,30,42,3,150,2,3
4,David,Santamaria,65,40,20,400.0,30,42,3,150,2,3

In [ ]:
else # In case the user wants to edit an old calculation

In [284]:
 view = TOTAL_DATA[(TOTAL_DATA['NAME'] == name) & (TOTAL_DATA['L. NAME'] == Last_name)]   
 view  # Customer calculations can be filtered by first and last name

,NAME,L. NAME,MAKE A. T,EXPENSES,EXPEN RETI,FIRE_N,AGE,AGE RETI,INFLATION,INITIAL INVEST.,RETURN F. INVEST.,ESTI. GROW
0,David,Santamaria,65,40,20,400.0,30,42,3,150,2,3
1,David,Santamaria,65,40,20,400.0,30,42,3,150,2,3
2,David,Santamaria,65,40,20,400.0,30,42,3,150,2,3
3,David,Santamaria,65,40,20,400.0,30,42,3,150,2,3
4,David,Santamaria,65,40,20,400.0,30,42,3,150,2,3

In [288]:
esco = view.index.values

In [289]:
choose = int(input(f"Choose which want edit {esco} "))

Choose which want edit [0 1 2 3 4]  3

In [292]:
edit = view.iloc[[choose]] # The end user can choose which of his calculations to edit.
edit

,NAME,L. NAME,MAKE A. T,EXPENSES,EXPEN RETI,FIRE_N,AGE,AGE RETI,INFLATION,INITIAL INVEST.,RETURN F. INVEST.,ESTI. GROW
3,David,Santamaria,65,40,20,400.0,30,42,3,150,2,3

In [ ]:
# Thank you for your time I appreciate the opportunity